<div style="margin: 60px 0; overflow: hidden">
  <div style="background: #0F0428;">
    <h1 class="page-title" style="margin-bottom: 15px;">Сложные темы</h1>
    <div id="task-cards-container">
      <div *ngFor="let task of tasks" class="task-card" style="background: hsl({{task.color}}, 80%, 53%);">
        <p style="font-size: 19px; margin: 0 18px; font-weight: 700; white-space: normal">{{task.title}}</p>
        <div class="task-card-image"
             style="background-image: linear-gradient(to right, hsla({{task.color}}, 95%, 75%, 0.5), hsla({{task.color}}, 95%, 75%, 0.5)), url('{{task.images[3]}}');"></div>
        <div class="task-card-image"
             style="background-image: linear-gradient(to right, hsla({{task.color}}, 95%, 75%, 0.5), hsla({{task.color}}, 95%, 75%, 0.5)), url('{{task.images[2]}}');"></div>
        <div class="task-card-image"
             style="background-image: linear-gradient(to right, hsla({{task.color}}, 95%, 75%, 0.5), hsla({{task.color}}, 95%, 75%, 0.5)), url('{{task.images[1]}}');"></div>
        <div class="task-card-image"
             style="background-image: linear-gradient(to right, hsla({{task.color}}, 95%, 75%, 0.5), hsla({{task.color}}, 95%, 75%, 0.5)), url('{{task.images[0]}}');"></div>
      </div>
    </div>
  </div>
</div>
