#task-cards-container {
  width: calc(100vw - 40px - 30px);
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0 30px 40px 40px;
}

.task-card {
  cursor: pointer;
  width: 310px;
  height: calc(310px - 240px);
  padding-top: 240px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
  overflow: hidden;
}

.task-card:hover {
  transform: scale(0.98);
}

.task-card-image {
  background-size: cover;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
  width: 160px;
  height: 210px;
  position: absolute;
  top: 18px;
  border-radius: 10px;
}

.task-card .task-card-image:nth-of-type(1) {
  opacity: 0.1;
  left: calc(18px + 35px * 3);
}

.task-card .task-card-image:nth-of-type(2) {
  opacity: 0.4;
  left: calc(18px + 35px * 2);
}

.task-card .task-card-image:nth-of-type(3) {
  opacity: 0.7;
  left: calc(18px + 35px * 1);
}

.task-card .task-card-image:nth-of-type(4) {
  opacity: 1;
  left: calc(18px + 35px * 0);
}
