button {
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  padding: 20px 45px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}

.profile-card {
  padding: 30px 45px;
  background: #21143E;
  border-radius: 15px;
  margin-top: 20px;
  overflow: hidden;
  transition: 0.3s;
  max-height: 30px;
}

.profile-card.opened {
  max-height: 1000px;
}

.profile-card.opened .arrow {
  transform: rotate(180deg);
}

.profile-card-content {
  display: block;
  margin-top: 30px;
}

.profile-card-overlay {
  backdrop-filter: blur(15px);
}

.profile-card-image {
  display: inline-block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.arrow {
  height: calc(30px - 8px * 2);
  display: inline-block;
  margin-top: 8px;
  float: right;
  transition: 0.3s;
}

.profile-card-title {
  font-size: 28px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 600;
}

.profile-card-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  padding-top: 10px;
}

.profile-card-text h1 {
  width: 400px;
  font-size: 31px;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
}

.profile-card-text p {
  width: 400px;
  font-size: 19px;
  margin-top: 5px;
}

.tags-container {
  margin-top: 15px;
}

.tag {
  font-size: 19px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  margin-right: 13px;
}

.profile-card-content input {
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  /*margin-right: 13px;*/
  margin-bottom: 16px;
  width: calc(100% - 30px * 2);
}

.delete {
  text-align: center;
  margin-top: 30px;
}

.delete button {
  padding: 20px 90px;
  background: #FF3333;
}
