<div style="margin: 60px 20px; overflow: hidden;">
  <div class="profile-card"
       style="padding: 30px 30px; max-height: unset; background: url('assets/settings-lights.svg') center/130%;">
    <div class="profile-card-overlay">
      <img class="profile-card-image" [src]="userData.profileImgUrl">
      <div class="profile-card-text">
        <h1>{{userData.fio}}</h1>
        <p>ученик</p>
        <div class="tags-container">
          <div class="tag">Школа "Летово"</div>
          <div class="tag">Вы не прикреплены к учителю</div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-card" *ngFor="let setting of settings; let i = index" [ngClass]="{opened: activeIndex == i}">
    <div style="display:block; cursor: pointer" (click)="activeIndex == i ? activeIndex = -1 : activeIndex = i" >
      <h1 class="profile-card-title">{{setting.title}}</h1>
      <img src="assets/icons/arrow-down.svg" class="arrow">
    </div>
    <div class="profile-card-content">
      <input *ngFor="let input of setting.inputs" [placeholder]="input">
      <div style="float: right; margin-bottom: 10px;">
        <button>Очистить</button>
        <button style="background: var(--blue)">Сохранить</button>
      </div>
    </div>
  </div>
  <div class="delete">
    <button (click)="approveOpen = true" *ngIf="!approveOpen">Удалить</button>
    <button (click)="auth.deleteAccount()" *ngIf="approveOpen" style="background: var(--blue)">Вы уверены?</button>
  </div>

</div>
