#action {
  width: calc(100vw - 40px * 2);
  /*height: 325px;*/
  background: #21143E;
  border-radius: 10px;
  margin: 30px 40px 0;
  text-align: center;
  padding: 95px 0;
  transition: 0.3s;
  position: relative;
}

#action-button, #action-more-button {
  cursor: pointer;
  margin-top: 20px;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  transition: 0.2s;
}

#action-button:hover, #action-more-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

#action-loading {
  width: 150px;
  height: 150px;
  margin-left: calc((100vw - 150px) / 2);
  animation: shimmer 2s infinite ease-in-out;
  display: none;
}

#action-results {
  display: none;
}


.hint {
  width: calc(100vw - 40px * 2 - 50px * 2);
  border-radius: 10px;
  background: #ffffff;
  margin-left: 40px;
  padding: 35px 50px;
  margin-top: 25px;
  color: #000000;
  position: relative;
}

.hint h5 {
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000000;
}

.hint h1 {
  font-size: 30px;
  margin-bottom: 6px;
  color: #000000;
}

.hint p {
  font-size: 20px;
  width: 75%;
  color: #000000;
}

.hint .close-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--bg-violet);
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.hint .close-button img {
  width: 20px;
  height: 20px;
  margin: calc((44px - 20px) / 2);
}

#cards-container {
  width: calc(100vw - 40px - 30px);
  margin-top: 16px;
  white-space: nowrap;
  padding-left: 40px;
  padding-right: 30px;
  overflow-x: scroll;
}

.card {
  vertical-align: top;
  height: 370px;
  width: calc((100vw - 40px * 2) / 4 - 16px + 16px / 4);
  background: #21143E;
  display: inline-block;
  margin-right: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: scale(0.98);
}

.card * {
  display: block;
}

.card.add img {
  margin-top: calc((300px - 38px - 7px - 18px) / 2 + 20px);
  width: 38px;
  height: 38px;
  margin-left: calc((((100vw - 40px * 2) / 4 - 16px + 16px / 4) - 36px) / 2);
}

.card.add span {
  margin-top: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
}

.card-status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  background: #FF7A00;
}

.card-status.checked {
  background: #00B448;
}

@keyframes shimmer {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}
